app/code/Betalingsmethodecheck/Betalingsmethode/etc/betalingmethodeesss.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="betslaingmethodes" type="betslaingmethodesType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="betslaingmethodesType">
		<xs:sequence>
			<xs:element name="betalingsmethodee" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
